.block {
  display: flex;
  gap: 20px;
}
.block p {
  max-width: 400px;
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}
.block h2 {
  color: #232d39;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.25px;
}
.block a {
  color: #ed563b;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px; /* 150% */
}
.bottom-content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 30px;
  padding-top: 60px;
}

.program {
  padding: 140px 0;
}

.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-content h1 {
  color: #232d39;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.top-content span {
  color: #ed563b;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.top-content p {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
  text-align: center;
}

.top-content img {
  margin: 17px 0;
}
