.training-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.training-top h1 {
  color: #232d39;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.training-top p {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
}

.training-top img {
  margin: 17px 0;
}
.training {
  padding: 125px 0;
}

.training-bottom {
  padding: 80px 0 0 0;
}
.block-content p {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}
.block-content img {
  border-radius: 5px;
}

.block-content h1 {
  color: #232d39;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 31px 0;
}

.block-content Button {
  margin: 31px 0 0 0;
}

.traning-item {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
