#header {
  background: rgba(250, 250, 250, 0.1);
  padding: 18px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.menu-button {
  display: none;
}

@media (max-width: 992px) {
  #header {
    background: white;
  }

  .menu-button {
    display: block;
  }
}

.mobile-menu {
  animation: mobile 0.5s ease-out;
  overflow: hidden;
}

@keyframes mobile {
  0% {
    height: 0px;
  }

  100% {
    height: 182px;
  }
}
