#register {
  background: url("/src/assets/images/cta-bg.jpg") no-repeat center/cover;
  height: 420px;
}

.register {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 126px 0;
}

.register h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 1px;
}

.register p {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  max-width: 930px;
  padding: 12px 0 20px 0;
}

.register span {
  color: #ed563b;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 1px;
}
