@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.5s;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: rgba(70, 70, 71, 0.419); */
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

html,
body {
  scroll-behavior: smooth;
}
